@use "../../styles/variables" as v;

.specs-grid {
	.header-specs {
		display: flex;
		align-items: center;
		gap: 1.5rem;
		padding-bottom: 1.5rem;
		border-bottom: 1px solid #e2e8f0;
		margin-bottom: 1.5rem;

		.big-icon {
			width: 75px;
			height: 75px;
			border-radius: 16px;
			background-color: #f3f0ff;
			color: v.$primary;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-shrink: 0;
		}

		.title-info-wrapper {
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 6px;

			h3 {
				margin: 0;
				color: #1e293b;
				font-size: 1.4rem;
				font-weight: 800;
			}

			.badge-wrapper {
				display: flex;
				align-items: center;
				gap: 8px;
				margin-top: 2px;
			}

			.owner-info-text {
				color: #64748b;
				font-size: 0.85rem;
				font-weight: 600;
				margin-top: 2px;
			}
		}
	}

	h4 {
		font-size: 0.85rem;
		color: #94a3b8;
		margin-bottom: 0.8rem;
		text-transform: uppercase;
		font-weight: 700;
		&.mt {
			margin-top: 1.5rem;
		}
	}

	.grid-2-col {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
		margin-bottom: 1.2rem;
	}

	.info-box {
		background-color: #f8fafc;
		padding: 12px 15px;
		border-radius: 10px;
		border: 1px solid #e2e8f0;

		&.light {
			background-color: #f1f5f9;
			display: flex;
			align-items: center;
			gap: 12px;
			.icon-barcode {
				color: #64748b;
			}
		}

		.label {
			display: block;
			font-size: 0.7rem;
			color: #94a3b8;
			margin-bottom: 2px;
			text-transform: uppercase;
			font-weight: 600;
		}

		.value {
			font-weight: 700;
			color: #1e293b;
			font-family: monospace;
			font-size: 1.1rem;
		}
	}

	.specs-list {
		background-color: #fff;
		border: 1px solid #e2e8f0;
		border-radius: 10px;
		overflow: hidden;

		.spec-item {
			display: flex;
			justify-content: space-between;
			padding: 12px 15px;
			border-bottom: 1px solid #f1f5f9;
			font-size: 0.9rem;

			&:last-child {
				border-bottom: none;
			}
			&.odd {
				background-color: #f8fafc;
			}

			strong {
				text-transform: capitalize;
				color: #64748b;
				font-weight: 600;
			}

			span {
				font-weight: 700;
				color: #1e293b;
			}
		}
	}

	.observation-alert {
		background-color: #fef2f2;
		border: 1px solid #fca5a5;
		border-radius: 10px;
		padding: 12px;
		margin-bottom: 1.5rem;

		h5 {
			margin: 0 0 5px 0;
			color: #991b1b;
			font-size: 0.8rem;
			text-transform: uppercase;
			font-weight: 700;
			display: flex;
			align-items: center;
			gap: 6px;
		}

		p {
			margin: 0;
			color: #7f1d1d;
			font-size: 0.9rem;
			font-style: italic;
		}
	}
}
