//frontend/src/pages/Directorio/Directorio.scss
@use '../../styles/variables' as *;

.directorio-container {
  width: 100%;
  box-sizing: border-box;

  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
    gap: 1rem;

    h1 {
      font-size: 1.8rem;
      font-weight: 700;
      color: $text-main;
      margin: 0;
      @media (max-width: 768px) {
        font-size: 1.5rem;
      }
    }

    // --- CONTENEDOR DE BOTONES ---
    .header-actions {
      display: flex;
      gap: 12px;
      flex-wrap: wrap;
      width: auto;

      @media (max-width: 600px) {
        width: 100%;
        .btn-excel-header,
        .btn-add {
          flex: 1;
          justify-content: center;
        }
      }

      .btn-action-header {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        padding: 0 14px;
        height: 38px;
        border-radius: 8px;
        font-weight: 500;
        font-size: 0.8rem;
        border: none;
        cursor: pointer;
        color: $white;
        transition: $smooth-transition;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

        @media (max-width: 600px) {
          flex: 1;
          padding: 0 10px;
        }

        &:hover {
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
        }
        &.btn-excel {
          background-color: $success-500;
          &:hover {
            background-color: $success-600;
          }
        }
        &.btn-add {
          background-color: $slate-800;
          &:hover {
            background-color: $slate-900;
          }
        }
      }
    }
  }

  .no-data,
  .loading-state {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    font-size: 0.8rem;
    color: $slate-500;
  }
}

// --- MODAL DE CONFIRMACIÓN (Alerta) ---
.confirm-modal-content {
  padding: 0.5rem;
  text-align: center;

  .warning-icon {
    margin-bottom: 1rem;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &.reject {
      color: $danger-500;
      background-color: $danger-50;
    }
  }

  h3 {
    color: $slate-900;
    margin-bottom: 1.5rem;
    font-size: 0.8rem;
    line-height: 1.5;
  }
  p {
    color: $slate-500;
    margin-bottom: 1.5rem;
    font-size: 0.8rem;
    line-height: 1.5;

    strong {
      color: $danger;
    }
  }

  .modal-actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
    // width: 100%;
    // box-sizing: border-box;

    button {
      height: 38px;
      border-radius: 8px;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
      border: none;
      font-size: 0.8rem;
      transition: $smooth-transition;
      flex: 1;
      cursor: pointer;

      &.btn-cancel {
        background-color: $slate-50;
        border: 1px solid $slate-200;
        color: $slate-500;
        &:hover {
          background-color: $slate-100;
        }
      }
      &.btn-confirm-reject {
        background-color: $danger-500;
        color: $slate-50;
        &:hover {
          background-color: $danger-600;
        }
      }
    }
  }
}
