@use '../../styles/variables' as v;

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease;

  .modal-container {
    background: rgba(v.$white, 0.98);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 90%;
    max-width: 600px;
    padding: 1.5rem;
    position: relative;
    box-shadow:
      0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 10px 10px -5px rgba(0, 0, 0, 0.04);
    animation: slideUp 0.3s ease;

    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.5rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);
      padding-bottom: 0.8rem;

      h2 {
        font-size: 1.25rem;
        color: v.$primary;
        font-weight: 700;
        margin: 0;
      }

      .btn-close {
        background: none;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px;
        border-radius: 8px;
        color: v.$text-muted;
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
          color: v.$danger;
          background-color: rgba(v.$danger, 0.1);
        }
      }
    }

    .modal-body {
      color: v.$text-main;
      max-height: 75vh;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 6px;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgba(v.$primary, 0.2);
        border-radius: 10px;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
